@model Cuentas.Models.Cuenta

@{
    ViewData["Title"] = "Delete";
}

<div class="w-100 py-3" style="background-color: #2c3e50;">
    <h1 class="text-center mb-0 text-white">¿Estas seguro que quieres borrar la cuenta?</h1>
</div>


<div class="container mt-4 ">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-lg bg-secondary text-white">
                <div class="card-body">
                    <h3 class="text-white card-title">Detalles</h3>
                    
                    
                    <div class="mb-2  p-2 border rounded bg-dark ">
                        <strong>Número:</strong> @Model.numero
                    </div>
                    <div class="mb-2 p-2 border rounded bg-dark">
                        <strong>Descripcion:</strong> @Model.descripcion
                    </div>
                    <div class="mb-2 p-2 border rounded bg-dark">
                        <strong>Créditos:</strong> @Model.creditos
                    </div>
                    <div class="mb-2 p-2 border rounded bg-dark">
                        <strong>Débitos:</strong> @Model.debitos
                    </div>
                    <div class="mb-2 p-2 border rounded bg-dark">
                        <strong>Balance:</strong> @Model.balance
                    </div>
                    <div class="mb-3 p-2 border rounded bg-dark">
                        <strong>Estado:</strong> @(Model.balance <= 0 ? "Inactivo" : "Activo")
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="text-center mt-3">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Borrar" class="btn btn-danger" />
    </form>
</div>
    
<div class="text-center mt-3">
    <a class="btn btn-danger btn-sm" asp-action="Index" class="card-link">Volver a la lista</a>
</div>
